<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>Welcome to Reffy, <%= @user %></h1>
    <p>
      You have successfully finished a match.
      <br/><br/>
    </p>
    <p>
      To see statistics about your games on Reffy just follow this link: <%= @url %>.
      <br/>
      To download the iPhone app and start creating your own games, just search "Reffy" on the iPhone Appstore.
      <br/><br/>
    </p>
    <p>Thanks for playing and have a great day!</p>
  </body>
</html>
